body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/Duke_Humfrey%27s_Library_Interior_6%2C_Bodleian_Library%2C_Oxford%2C_UK_-_Diliff.jpg");
    background-size: cover;
}

form {
    background-color: rgba(252, 246, 246, 0.75);
}

table {
    border: 1px solid  black;
}


td, th{
    padding: 3px 10px;
}

th {
    background-color: blue;
    color:  white;
    border: none;
}