body {
    background-color: #6b4a06;
    color: #77f786;
    background-image: url("https://static.fjcdn.com/pictures/Enjoy_e7da0d_906101.jpg");
}


h1 {
   color: #ff73fa;
   background-color: #77f786;
   transform: translate(200px);
   transition: 2s all;
   border: solid black 5px;
}

h1:hover {
   transform: translate(700px) scale(2) rotate(-20deg) ;
   transition: 2s all;
}

h2 {
    color:  #00fc61;
    border: solid pink 10px;
    background-color: bisque;
}

h3 {
    color:  #00fc61;
    background-color: gray;
}

#ResetGame {
    background-color: aquamarine;
    padding: 10px;
    border: solid purple 5px;
    width: 400px;
}

#ResetGame:hover {
   transform:  translate(450px) rotate(180deg) scale(3);
   background-color: chartreuse;
   border-color: aquamarine;
   transition: 2s all;
}



/*.UglyButton {
   transform:  translate(100px) scale(1.5);
   background-color: chartreuse;
   transition: 1s all;
}*/

