<!doctype html>
<html>
<head>
    <title>Invoice Maker</title>
    <link rel="stylesheet" href="~/Content/site.css">
    <link rel="stylesheet" href="~/Content/PureStyle.css">
</head>
<body>
    @RenderBody()
</body>
</html>